<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
{% if error %}
    {{ error }}
{% endif %}
{% include "navbar" -%}
<div class="container">{% block content %}{% endblock content %}</div>
{% include "footer" -%}
</body>
</html>
