    <nav>
        <div class="menu"><a href="/">Index</a></div>
        <div class="row">
        {%- if session %}
            <div class="menu"><a href="/logout">Logout</a></div>
        {%- else %}
            <div class="menu"><a href="/login">Login</a></div>
            <div class="menu"><a href="/register">Register</a></div>
        {% endif -%}
        </div>
    </nav>
